.wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        position: absolute;
        height: 100vh;
        width: 100vw;
        z-index: -1;
    }
    .home{
        position: relative;
        display:flex;
        align-items: center;
        justify-content: center;
        
        border-radius: 20px;
        overflow: hidden;
        background: transparent;
        backdrop-filter: blur(20px);
        height: 480px;
        width: 400px;
        border: 2px solid rgb(105, 49, 77);
        transition: all .5s ease-in-out;
        .loogin{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            transition: all .5s ease-in-out;
            transform: translateX(130px);
            
            .btn2{
                z-index: 1000;
                margin-bottom: -40px;
                margin-top: 20px;
                transition: all .5s ease-in-out;
                color:rgb(105, 49, 77);
                &:hover{
                    color: rgb(61, 26, 43);
                    transition: all .5s ease-in-out;
                }
            }
            .form{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 260px;
                height: 100%;
                .alert{
                    margin: 10px;
                    background: linear-gradient(
                        to right,
                        #770028 20%,
                        #aa0473 30%,
                        #aa0473 70%,
                        #700025 80%
                    );
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
        
                    background-size: 500% auto;
                    animation: textShine 5s ease-in-out infinite alternate;
                    @keyframes textShine {
                        0% {
                            background-position: 100% 50%;
                        }
                        100% {
                            background-position: 0% 50%;
                        }
                    }
                      
                    
                }
                .btn{
                    width: 100%;
                    height: 50px;
                    border-radius: 20px;
                    margin: 10px;
                    transition: all .5s ease-in-out;
                    background: rgb(188,101,144);
                    color: #bdbaba;
                    &:hover{
                        background: rgb(209, 117, 148);
                        transition: all .5s ease-in-out;
                        color: #fff;
                    }
                }
                .inputik{
                        position: relative;
                        width: 100%;
                        height: 50px;
                        border-bottom: 2px solid rgb(188,101,144);
                        margin: 10px 0;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        input{
                            width: 100%;
                            height: 100%;
                            background: transparent;
                            border: none;
                            outline: none;
                            font-size: 1em;
                            font-weight: 500;
                            color: rgb(41, 30, 35);
                            &::placeholder{
                                color: rgb(105, 49, 77);
                            }
                            &:-webkit-autofill, -webkit-autofill:hover, -webkit-autofill:focus{
                                -webkit-text-fill-color: rgb(105, 49, 77);
                                -webkit-box-shadow: 0 0 0px 40rem rgb(188,101,144) inset;
                            }
                        }
                        img{
                            position: absolute;
                            right: 8px;
                            height: 28px;
                            width: 28px;
                            transform: translateY(-10px);
                        }
                    }
                
            }
        }
        .next{
            transform: translateX(-500px);
        }
        .register{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            transition: all .5s ease-in-out;
            transform: translateX(-130px);
            
            .btn2{
                z-index: 1000;
                margin-bottom: -40px;
                margin-top: 20px;
                color: rgb(105, 49, 77);
                &:hover{
                    color: rgb(61, 26, 43);
                    transition: all .5s ease-in-out;
                }
            }
            .form{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 260px;
                height: 100%;
                .alert{
                    margin: 5px;
                    background: linear-gradient(
                        to right,
                        #770028 20%,
                        #aa0473 30%,
                        #aa0473 70%,
                        #700025 80%
                    );
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
        
                    background-size: 500% auto;
                    animation: textShine 5s ease-in-out infinite alternate;
                    @keyframes textShine {
                        0% {
                            background-position: 100% 50%;
                        }
                        100% {
                            background-position: 0% 50%;
                        }
                    }
                      
                    
                }
                .btn{
                    width: 100%;
                    height: 50px;
                    border-radius: 20px;
                    margin: 10px;
                    transition: all .5s ease-in-out;
                    background: rgb(188,101,144);
                    color: #bdbaba;
                    &:hover{
                        background: rgb(209, 117, 148);
                        transition: all .5s ease-in-out;
                        color: #fff;
                    }
                }
                .inputik{
                        position: relative;
                        width: 100%;
                        height: 50px;
                        border-bottom: 2px solid rgb(188,101,144);
                        margin: 10px 0;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        input{
                            width: 100%;
                            height: 100%;
                            background: transparent;
                            border: none;
                            outline: none;
                            font-size: 1em;
                            font-weight: 500;
                            color: rgb(41, 30, 35);
                            &::placeholder{
                                color: rgb(105, 49, 77);
                            }
                            &:-webkit-autofill, -webkit-autofill:hover, -webkit-autofill:focus{
                                -webkit-text-fill-color: rgb(105, 49, 77);
                                -webkit-box-shadow: 0 0 0px 40rem rgb(188,101,144) inset;
                            }
                        }
                        img{
                            position: absolute;
                            right: 8px;
                            height: 28px;
                            width: 28px;
                            transform: translateY(-10px);
                        }
                    }
                
            }
        }
        .nextoora{
            transform: translateX(500px);
            
        }
    }
    .nexto{
        height: 520px;
        transition: all .5s ease-in-out;
    }
}