.container{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 180px;
    width: 320px;
    border: 2px solid grey;
    border-radius: 15px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    &:hover{
        box-shadow: 0px 0px 30px rgba(0, 0, 0, .5);
        transition: all .3s ease-in-out;
    }
    .imgs{
        height: 180px;
        width: 320px;
        z-index: -1;
        left: 0px;
    }
    .infoBox{
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        img{
            height: 70px;
            width: 70px;
            border-radius: 50%;
            margin-left: 25px;
            margin-top: 25px;
            border: 2px solid grey;
        }
        p{
            margin-top: 60px;
            margin-left: 40px;
            font-size: 1.5em;
            color: #000;
        }
    }
    .playBox{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 110px;
        margin-left: 60px;
        position: absolute;
        .box2{
            display: flex;
            align-items: center;
            width: 200px;
            height: 50px;
            border: 2px solid grey;
            border-radius: 15px;
            backdrop-filter: blur(3px);
            img{
                margin-left: 20px;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                border: 1px solid grey;
            }
            p{
                margin-left: 20px;
            }
        }
    }
}