body{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 300px;
    border: 2px solid red;
    input{
      width: 30px;
      height: 40px;
      line-height: 100%;
      background: transparent;
      outline: none;
      font-size: 1em;
      line-height: 40px;
      border-radius: 20px;
      border: 2px solid grey;
      width: 100%;
      text-align: center;
    }
  }
}


