.particlescheckbox {
  transform: scale(0);
  opacity: 0;
  display: none;
}
  h1{
    margin-bottom: 20px;
    margin-top: -20px;
    color: rgb(105, 49, 77);
    font-size: 2em;
    font-weight: bold;
}


